/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.info-panel{
	position: absolute;
    width: 300px;
    height: 100px;
    top: 0px;
    left: 50%;
    margin-left: -150px;
    background-color: brown;
    border: 1px solid black;
	z-index: 1001;
	opacity: 0.5;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: white;
}

.console-panel{
	position: absolute;
    width: 500px;
    height: 120px;
    bottom: 0px;
    left: 50%;
    margin-left: -250px;
    background-color: grey;
	opacity: 0.5;
    border: 1px solid black;
	z-index: 1000;
}

.console-output{
	height: 100px;
	width: 500px;
	text-align: left;
	font-size: 10px;
	font-weight: bold;
	color: white;
}

.console-input{
	height:  20px;
	width: 500px;	
}

.map-panel{
	overflow: visible !important;
	z-index: 1000;
}

.sprite{
		background-repeat-x:no-repeat;
		background-repeat-y:no-repeat;
		background-attachment:initial;
}
	